
@media screen and (min-width: 0) and (max-width: 480px) {


    .header {
        background: black;
        display: flex;
    }
    .menu_left {
        width: 25%;
        height: 25%;
        background: #e7dc56;
    }

    .menu_right {
        flex-direction: column;
    }

    .icon {
        padding-top: 10px;
        background: #e7dc56;
        height: 45% ;
        border-radius: 15px;
    }

    .nav_top {
        background: #f1f8f8;
        justify-content: center;
    }

    .nav_main {
        background: lightgrey;
    }

    h1 {
        height: 40px;
    }

    .button  {
        margin-top: 45px;
    }

    .nav_main>p {
        background: #eceaea;
        font-size: 16px;
        color: darkslateblue;
        padding: 10px;
        text-align: justify;
    }

    .main_place {
         background: silver;
    }

    .square_poz {
        background: #b65160;
        height: 100%;
        border-radius: 30%;
    }

    h3 {
        height:20px;
        margin: 0 auto;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    .products_cards {
        display: flex;
        width: 170px;
    }

    .card_item {
        width: 160px;
        background: lightcoral;
    }

    .content_box__info {
        width: 90%;
    }

    .box_picture {
        background: #c464b4;
    }

    .carousel {
        flex-direction: column;
        row-gap: 20px;
    }

    .description {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }

    .icons {
        margin: 10px;
       flex-direction: column;
        row-gap: 5px;
    }

    ul.link_menu:hover {
        transition: 0.2s;
        color: lightcyan;
    }
}