
* {
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
width: 1000px;
border: 3px solid black;
padding: 5px;
margin: 0 auto;
border-radius: 8px;
box-sizing: border-box;
}
.main {
    display: flex;
    margin-top: 5px;
    column-gap: 5px;
}
.header {
    background: lightgrey;
    height: 150px;
}
.main_left {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}

.main_left_content {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.content1 {
    width: 32%;
    height: 150px;
    background: lightgrey;
    flex-grow: 1;
    text-align: center;
}

.main_right {
    background: lightgrey;
    flex-grow: 1;
    text-align: center;
}
