

@media (max-width: 1920px) {
    .contact_menu_mobile {
        display: none;
    }
    .main_news_day_mobile, .main_news1_day_mobile {
        display: none;
    }


    @media (min-width: 1920px) {
        .else {
            display: none;
        }
        .catalog_cards_mobile {
            display: none;
        }

    }

    }



        @media (max-width: 414px) {

            .information, .cooperation, .header_right_menu {
                display: none;
            }

            .location {
                font-size: 12px;
                line-height: 14px;
            }

            .header {
                margin: 0px auto;
                padding-bottom: 20px;
            }

            .header_left {
                padding: 10px 0;
                max-width: 100%;
            }

            .else {
                font-size: 12px;
            }

            .contact_menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .schedule, .contact_street {
                display: none;
            }

            .contact_menu {
                display: none;
            }

            .contact_menu_mobile {
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                column-gap: 75px;
            }

            .contact_menu_left {
                display: flex;

            }

            .contact_menu_right {
                justify-content: space-between;
                /* display: flex; */
                flex-direction: column;
            }

            .logos p {
                font-size: 8px;

            }

            .mobile a {
                font-size: 10px;
                line-height: 12px;
                color: #000000;
            }

            .whatsUp {
                width: 155px;
                font-size: 10px;
                margin-bottom: 5px;
            }

            a {
                font-size: 10px;
            }


            .buttons_search {
                width: 25%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 20px;
            }

            .header_box_search {
                width: 80%;
                font-size: 10px;
                line-height: 12px;
                color: #C2C5DA;
                justify-content: flex-start;
                padding: 10px;
            }
            .header_buttons {
                 padding: 10px 5px 0;
             }

            .header_buttons_left {
                width: 100%;
                justify-content: center;
            }

            .box_description p {
                font-size: 10px;
                line-height: 14px;
            }

            .catalog_list {
                display: none;
            }

            .header_buttons_right {
                display: none;
            }

            .page_advertisment_mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .advertisment_carousel_mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 10px;
            }

            .advertisment_left_mobile {
                width: 100%;
            }

            .carousel_title_mobile {
                line-height: 10px;
            }


            .carousel_title_mobile h2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #0A1A2C;
            }
            .carousel_sup_title_mobile {
                text-decoration: underline;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #717171;
            }
            .price_mobile {
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
            }
            .wrong_price_mobile {
                font-size: 14px;
                line-height: 16px;
                text-decoration-line: line-through;
                color: #C2C5DA;
            }
            .button_shop_cart_mobile {
                width: 75%;
                height: 24px;
                background: #005BB9;
                border-radius: 6px;
                font-size: 10px;
            }


            .button_shop_cart_mobile img {
                margin-right: 10px;
            }
            .carousel_image {
                margin-left: 15px;
            }
            .corousel_switch {
                column-gap: 20px;
            }
            .product_cards {
                flex-direction: row;
            }

            .slider_list {
                padding-top: 0;
                column-gap: 20px;
            }

            .slider_box {
                width: 100%;
                column-gap: 15px;
            }


            .button_goods,
            .button_shares,
            .button_buying,
            .button_buying_show {
                width: 100%;
                height: 35px;
                border-radius: 4px;
            }

            .buttons_item1, .buttons_item {
                font-size: 12px;
                line-height: 24px;
                color: #005BB9;
            }

            .buttons_item1 {
                color: white;
            }
            .add_buttons {
                padding: 20px 0;
            }

            /**-----------catalog--------------*!*/

            .catalog {
                column-gap: 10px;
            }



            .catalog_unit {
                width: 185px;
                height: 249px;
                margin-left: 10px;
            }

            .unit_zapchastyny {
                width: 138px;
                height: 120px;
            }

.img_diagram {
    display: none;
}
            .reviews, .rating {
                font-size: 10px;
                line-height: 12px;
                color: #B0B0B0;
            }

            .unit_price {
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                color: #000000;
            }

            .button_shop_cart {
                max-width: 135px;
                height: 34px;
                background: #005BB9;
                border-radius: 6px;
                padding: 0 10px;
                font-size: 12px;
            }
            /*----------page_advertisment---------*/
            .advertisment_carousel {
                width: 384px;
                height: 195px;
                background: no-repeat url("images.mobile/фон.png");
                background-size: cover;
            }

            .arrow_right, .arrow_left {
                display: none;
            }

            .image_zapchastyma {
                width: 147px;
                height: 125px;
            }
            .advertisment_left {
                width: 100%;
            }
            .carousel_title h2 {
                font-size: 16px;
                line-height: 19px;
            }

            .carousel_sup_title {
                font-size: 10px;
                line-height: 12px;
            }

            .price {
                font-size: 20px;
                line-height: 23px;
            }

            .wrong_price {
                font-size: 14px;
                line-height: 16px;

            }

            .button_shop_cart {
                max-width: 124px;
                height: 34px;
            }
            .corousel_switch {
                column-gap: 5px;
            }

            .switch_circle {
                width: 12px;
                height: 12px;
            }
            /*-------------------------*/
            /*-----news------*/
            .border_bottom {
                display: none;
            }

            .news {
                justify-content: flex-start;
                flex-direction: column;
                margin-top:50px;
                align-items: flex-start;
                margin-left: 10px;
            }
            .main_news{

            }


            .link_item {
                margin-top: 10px;
                font-size: 16px;
                line-height: 14px;
            }
            .link_description {
                font-size: 14px;
                line-height: 22px;
            }

            .news_mark {
                display: none;
            }



            .footer_menu, .footer_left_menu, .footer_right_menu, .footer_right_top {
                flex-direction: column;
                row-gap: 20px;
                align-items: flex-start;
                padding-left: 10px;
            }

            .footer_right_info a {
                margin: 0 0;
            }

            .right_contact, .right_adress, .footer_catalog_list, .footer_rubricator_list, .footer_info {
                padding: 0;

            }

            .footer_right_top {
                padding-left: 0;
            }

            .footer_left_menu, .footer_right_menu {
                width: 100%;
            }

            .footer_right_info {
                display: flex;
                flex-direction: column;
            }

            .feedback_form {
                color: white;
            }

            .btn_right_form {
                width: 95%;
            }

            .end {
                border-top: 2px solid #1D3044;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                margin: 10px 0;
                padding-top: 10px;
            }
            .footer_icons {
                margin-right: 15px;
            }
        }

